<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <body>
    <h1>About page</h1>
    <p>
      Get help on teh Ruby on Rails Tutorial at the
      <a href="https://www.railstutorial.org/help">Rails Tutorial Help Page</a>
    </p>
  </body>
</html>